SERVICE_HOST=0.0.0.0:8888
SERVICE_DB_DRIVER=mysql
SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=rootpass
SERVICE_DB_DATABASE=loan-backend
SERVICE_DB_QUERYSTRING=

PAYMENT_SERVICE_ADDRESS=http://localhost:8888
USER_SERVICE_ADDRESS=http://localhost:8888
